
*.xcworkspacedata

*.xcuserstate

*.xcscheme

API Demo.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

API Demo.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcschemes/xcschememanagement.plist

API Demo.xcodeproj/project.xcworkspace/xcshareddata/API Demo.xccheckout
