<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classifyId</key>
		<integer>1</integer>
		<key>classifyName</key>
		<string>动物世界</string>
		<key>classifyImage</key>
		<string>animal.png</string>
		<key>infos</key>
		<array>
			<dict>
				<key>thingId</key>
				<integer>1</integer>
				<key>thingName</key>
				<string>狮子</string>
				<key>thingRecord</key>
				<string>lion.mp3</string>
				<key>thingImage1</key>
				<string>lion1.png</string>
				<key>thingImage2</key>
				<string>lion2.png</string>
				<key>thingImage3</key>
				<string>lion3.png</string>
				<key>classifyId</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>thingId</key>
				<integer>2</integer>
				<key>thingName</key>
				<string>老虎</string>
				<key>thingRecord</key>
				<string>tiger.mp3</string>
				<key>thingImage1</key>
				<string>tiger1.png</string>
				<key>thingImage2</key>
				<string>tiger2.png</string>
				<key>thingImage3</key>
				<string>tiger3.png</string>
				<key>classifyId</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classifyId</key>
		<integer>2</integer>
		<key>classifyName</key>
		<string>海洋世界</string>
		<key>classifyImage</key>
		<string>ocean.png</string>
		<key>infos</key>
		<array>
			<dict>
				<key>thingId</key>
				<integer>3</integer>
				<key>thingName</key>
				<string>海豚</string>
				<key>thingRecord</key>
				<string>dolphin.mp3</string>
				<key>thingImage1</key>
				<string>dolphin1.png</string>
				<key>thingImage2</key>
				<string>dolphin2.png</string>
				<key>thingImage3</key>
				<string>dolphin3.png</string>
				<key>classifyId</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
